extends layout

block body

  #welcome.jumbotron
    h1 Welcome to Food Around Me!
    p.lead.
      <br/>
      Food Around Me allows you to find cheap food in your neighboorhood!
    ul
      li Create and browse food offers
      li Send requests
      li Easily get directions
      li Pay online
    <br/>
    p Register now!
    p.bigbutton
      a.bigbutton.btn.btn-lg.btn-danger(href='/register', role='button') Register