#welcome {
  margin-top: 6em;
}

#welcome li {
  font-size: 1.5em;
}

.register, .login, .dashboard {
  margin-top: 6em;
}

.register-fail, .login-fail {
  margin-bottom: 1em;
}

.login .last-p {
  margin-bottom: 2em;
}

.dashboard h2 {
  font-weight: bold;
}

.dashboard .data {
  color: #DF691A;
  font-weight: bold;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
  text-align: center;
}

.loginuser {
	text-align: right;
	margin: 1px;
}

.searchbox {
  color: #4e5d6c;
  margin: 1em;
  width: 10em;
}

.bigbutton {
  text-align: center;
  padding: 24px 48px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 0;
}

footer p {
  margin: 0em;
  padding: 0em;
  text-align: right !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 13px !important;
  color: #fff !important;
}

footer p span {
  vertical-align: bottom !important;
}

footer p img {
  align: top !important;
  vertical-align: top !important;
}

footer p img.lock {
  align: bottom !important;
  vertical-align: middle !important;
}

table.list a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table.list a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table.list a:active,
table.list a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table.list {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table.list th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table.list th:first-child {
	text-align: left;
	padding-left:20px;
}
table.list tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.list tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.list tr {
	text-align: center;
	padding-left:20px;
}
table.list td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.list td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table.list tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.list tr:last-child td {
	border-bottom:0;
}
table.list tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.list tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.list tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.ui-timepicker * {
	box-sizing: content-box;
}

.ui-datepicker-div * {
	font-size: 12px;
}